.home {
  display: flexbox;
}
.searchFilter {
  color: white;
  margin-top: 10px;
}

.searchFilter button {
  margin: 5px;
  background-color: #c3c3c3;
  padding: 5px;
}

.searchFilter button:hover {
  background-color: #1d1d1d;
  border: 2px solid rgb(183, 183, 183);
  color: aliceblue;
}

ul {
  list-style-type: none;
}

ul li {
  margin-left: 5px;
  display: inline;
}
ul li button {
  color: white;
  border: 2px #c3c3c3 solid;
  background-color: transparent;
}

ul li button:hover {
  background-color: #0e0e0e;
  color: white;
  border: 2px #c3c3c3 solid;
}

.Allpokemons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Allpokemons .pokemon {
  color: black;
  text-decoration: none;
  margin: 15px;
  background-color: #e4d9ff;
  border-radius: 30px;
  border: 5px solid black;
}

.Allpokemons .pokemon img {
  width: 400px;
  height: 350px;
}
