.pokemonBackground {
  background-image: url("../img/pokemon-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.letsGo {
  color: rgb(196, 196, 196);
  font-size: 23px;
  line-height: 23px;
  padding: 6px;
  border-radius: 4px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(74, 3, 3) 0%,
    rgb(220, 39, 39) 100%,
    rgb(255, 0, 0) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.47) 0px 0px 11px 4px;
  border: 2px solid rgb(35, 2, 2);
  display: inline-block;
}
.letsGo:hover {
  background: #4a0303;
}
.letsGo:active {
  background: #ff0000;
}
